<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Actualizar Informacion</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">
                    <div class="form-group row" *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname">Imagen Actual</label>
                        <div class="input-group">
                            <img [src]="medicoSeleccionado.img | imagenPipe: 'medicos'  " class="img-responsive img-thumbnail" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del medico">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <div class="input-group w-100">
                            <select class="form-control custom-select" formControlName="hospital" data-placeholder="Seleccione un Hospital" tabindex="1">
                            <option value="">Seleccione Hospital</option>
                            <option *ngFor="let hospital of hospitales"[value]="hospital._id">{{hospital.nombre}}</option>
                        </select>
                        </div>
                    </div>

                    <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-tit">Hospital</h4>
                    <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
                    <img src="{{hospitalSeleccionado.img | imagenPipe: 'hospitales'}}" class="img-responsive img-thumbnail" alt="">
                </div>
            </div>
        </div>
    </div>
</div>